body{
  background: green;
  font-family: 'Helvetica';
  color: #e4bb70;
  width: 100%
}

h2{
  text-align: center;
}

.thing{
  width: 100%;
  display: flex;
}

.list{
  width: 100%;
}

.tables{
  background: #e4bb70;
  color: green;
  width: 100%;
}

.button{
  margin: 0 0 2px 2px;
  border: none;
  background: green;
  color: #e4bb70;
}

.display{
  width: 71%;
  margin: 19px;
  height: 500px;
  background: #e4bb70;
  color: green;
  float: right;
}

form{
  margin: 1%;
}

input{
  background: inherit;
  border: 1px solid green;
  color: green;
}

.submit{
  background: green;
  color: #e4bb70;
}